@charset "utf-8";

// Custom Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables",
        "404",
        "base",
        "blog",
        "footer",
        "landing",
        "navbar",
        "markdown",
        "projects",
        "timeline",
        "autumn",
        "theme",
        "theme-dark";

.highlight-text {
    color: orange;
}

.highlight-text-summary {
    color: cyan;
    font-weight: bolder;
}

.resume-button {
    -webkit-text-size-adjust: 100%;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #88d00b;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 1rem;
}